.main {
    @apply m-auto;
}

.nav-links {
    @apply text-gray-300;
    font-size: 0.935rem;
    font-weight: 400;
    margin: 3px;
}

.icon {
    fill: white;
    stroke: 3px;
    margin-right: 5px;
}

.drawer-button {
    margin-left: 85px;
    margin-top: -65px;
}

.page-opacity-enter-active,
.page-opacity-leave-active {
    transition: 400ms ease all;
}

.page-opacity-enter-from,
.page-opacity-leave-to {
    opacity: 0;
    transform: translateY(auto);
}

.active {
    @apply text-accent;
}

.exact-active-link {
    @apply text-accent;
}